.car-brands-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

    .car-brands-main a {
        text-decoration: none;
        color: black;
        background: #f1f1f1;
        border-radius: 9px;
        padding: 1em;
    }

    .car-brands-main img {
        width: 100%;
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;
    }

    .car-brands-main a:hover img {
        filter: grayscale(0%);
    }

/* Tablet Layout */
@media screen and (max-width: 1024px) {
    .car-brands-main {
        grid-template-columns: repeat(3, 1fr);
    }
    #brands-card-10 {
        display: none;
    }
}

/* Mobile Layout */
@media screen and (max-width: 768px) {
    .car-brands-main {
        grid-template-columns: repeat(2, 1fr);
    }
    #brands-card-7, #brands-card-8, #brands-card-9{
        display: none;
    }
}
