/* Curiosities Section */
.curiosities {
    display: flex;
    justify-content: space-between;
}

    .curiosities h2 {
        font-size: 30px;
    }

    .curiosities p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #191919;
    }

.curiosities-link {
    border-radius: 7px;
    border: 1px solid black;
    padding: 15px 40px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: inline-block;
}

    .curiosities-link:hover {
        border: 1px solid #ff0029;
        background-color: #ff0029;
        color: white;
    }

/* Accordion Styles */
.accordion-container {
    max-width: 650px;
}

.accordion-item {
    margin-bottom: 1rem;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 1rem 0;
    cursor: pointer;
}

.accordion-item h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
}

.icon-sss {
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.accordion-header.active .icon-sss {
    transform: rotate(180deg);
}

.accordion-content {
    padding: 1rem 0;
}

    .accordion-content p {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        color: #191919;
    }
