/* Main Content Styles */
.gallery-content {
    color: #292d32;
    flex-direction: column;
}
    .gallery-content h2 {
        color: #292d32;
        margin: 60px 0 14px 55px;
        width: 90%;
        max-width: 920px;
        font-weight: 700;
        line-height: 42px;
        font-size: 30px;
    }

/* Slider Styles */
.why-drd-slider {
    display: flex;
    gap: 1em;
    overflow: hidden;
    cursor: grab;
}

.why-drd-slider:active {
    cursor: grabbing;
}

.why-drd-slide {
    flex: 0 0 55%;
    transition: transform 0.5s ease;
}

.why-drd-slide img {
    width: 100%;
    height: auto;
    border-radius: 9px;
}

/* About Section Styles */
.drd-meet img {
    width: 100%;
    margin-bottom: 25px;
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .gallery-content h2 {
        margin: 14px 0;
    }

    .why-drd-slider {
        gap: 20px;
    }

    .why-drd-slide {
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 500px) {
    .why-drd-slide {
        flex: 0 0 100%;
    }
}


