
.panel h2 {
    color: #000;
    max-width: 679px;
    margin: 0 0 0 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    font-size: 30px;
}
.panel p, .fleetino-text p {
    color: #292d32;
    max-width: 812px;
    margin-left: 75px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.panel img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 9px;
}
.panel div {
    display: flex;
    margin: 6px 0 0 75px;
    gap: 3em;
}
    .panel div h6, .fleetino-text h6 {
        margin-top: 15px;
        color: #191919;
        max-width: 240px;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
    }
.fleetino-text {
    display: flex;
    margin-left: 55px;
}
    .fleetino-text p {
        max-width: 712px;
    }